{% extends 'layouts/dashboard.html' %}
{% import 'macros/app.html' as macro %}

{% block heading %}
    {{ macro.breadcrumbs([{'title': 'Rollen'}]) }}
{% endblock %}

{% block content %}
    <div class="space-y-4 md:space-y-6">
        <div class="sm:flex justify-between">
            <h1 class="text-3xl font-bold leading-tight text-gray-900">
                Rollen
            </h1>

            <a href="{{ url_for('create_role') }}" class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-base font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500">
                Nieuw
            </a>
        </div>

        <div class="bg-white rounded-md shadow-sm overflow-hidden">
            <div class="flex flex-col">
                <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-300">
                                <thead class="bg-teal-600">
                                <tr>
                                    <th scope="col"
                                        class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-white sm:pl-6">
                                        Rol naam
                                    </th>
                                    <th scope="col"
                                        class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-white">
                                        Acteur
                                    </th>
                                    <th scope="col"
                                        class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-white">
                                        Film
                                    </th>
                                    <th scope="col" class="relative py-3 pl-3 pr-4 sm:pr-6">
                                        <span class="sr-only">Edit</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="divide-y divide-gray-200 bg-white">
                                    {% for role in roles %}
                                        <tr>
                                            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                                {{ role.character_name }}
                                            </td>
                                            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                                {{ role.actor.full_name() }}
                                            </td>
                                            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                                {{ role.film.title }}
                                            </td>
                                            <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                                                <a href="{{ url_for('show_role', role_id=role.id) }}"
                                                   class="text-teal-600 hover:text-teal-900">
                                                    Show
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    {% if not roles|length %}
                                        <tr>
                                            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 italic" colspan="99">
                                                Nog geen rollen gevonden.
                                            </td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

