{% extends 'layouts/dashboard.html' %}
{% import 'macros/app.html' as macro %}

{% block heading %}
    {{ (macro.breadcrumbs([{'title': 'Regisseurs', 'link': url_for('index_directors')}, {'title': director.full_name(), 'link': url_for('show_director', director_id=director.id)}, {'title': 'Aanpassen'}])) if updating else (macro.breadcrumbs([{'title': 'Regisseurs', 'link': url_for('index_directors')}, {'title': 'Nieuwe regisseur'}])) }}
{% endblock %}

{% block content %}
    <div class="space-y-4 sm:space-y-6">
        <h1 class="text-2xl leading-6 font-semibold text-gray-900">
            {{ 'Regisseur aanpassen' if updating else 'Regisseur aanmaken' }}
        </h1>

        <form class="space-y-4" action="#" method="POST">
            {{ form.csrf_token }}

            <div class="bg-white overflow-hidden shadow sm:rounded-lg">
                <div class="px-4 py-5 sm:p-4 space-y-4">
                    <div>
                        <label for="first_name" class="block text-sm font-medium text-gray-700">Voornaam</label>
                        <div class="mt-1">
                            <input value="{{ director.first_name if updating else '' }}"
                                   type="text" name="first_name" id="first_name"
                                   class="shadow-sm focus:ring-teal-500 focus:border-teal-500 block w-full sm:text-sm border-gray-300 rounded-md">
                        </div>
                        {% for error in form.first_name.errors %}
                            <span class="mt-1 text-red-400">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div>
                        <label for="last_name" class="block text-sm font-medium text-gray-700">Achternaam</label>
                        <div class="mt-1">
                            <input value="{{ director.last_name if updating else '' }}"
                                   type="text"
                                   name="last_name" id="last_name"
                                   class="shadow-sm focus:ring-teal-500 focus:border-teal-500 block w-full sm:text-sm border-gray-300 rounded-md">
                        </div>
                        {% for error in form.last_name.errors %}
                            <span class="mt-1 text-red-400">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="flex justify-end space-x-2">
                <a href="{{ url_for('index_directors') }}"
                   class="inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500">
                    Annuleren
                </a>
                <button type="submit"
                        class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500">
                    Opslaan
                </button>
            </div>
        </form>
    </div>
{% endblock %}