{% extends 'layouts/dashboard.html' %}
{% import 'macros/app.html' as macro %}

{% block heading %}
    {{ (macro.breadcrumbs([{'title': 'Films', 'link': url_for('index_films')}, {'title': film.title, 'link': url_for('show_film', film_id=film.id)}, {'title': 'Aanpassen'}])) if updating else (macro.breadcrumbs([{'title': 'Films', 'link': url_for('index_films')}, {'title': 'Nieuwe film'}])) }}
{% endblock %}

{% block content %}
    <div class="space-y-4 sm:space-y-6">
        <h1 class="text-2xl leading-6 font-semibold text-gray-900">
            {{ 'Film aanpassen' if updating else 'Film aanmaken' }}
        </h1>

        <form class="space-y-4" action="#" method="POST">
            {{ form.csrf_token }}

            <div class="bg-white overflow-hidden shadow sm:rounded-lg">
                <div class="px-4 py-5 sm:p-4 space-y-4">
                    <div>
                        <label for="title" class="block text-sm font-medium text-gray-700">Titel</label>
                        <div class="mt-1">
                            <input value="{{ film.title if updating else '' }}"
                                   type="text" name="title" id="title"
                                   class="shadow-sm focus:ring-teal-500 focus:border-teal-500 block w-full sm:text-sm border-gray-300 rounded-md">
                        </div>
                        {% for error in form.title.errors %}
                            <span class="mt-1 text-red-400">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div>
                        <label for="year" class="block text-sm font-medium text-gray-700">Jaar uitgebracht</label>
                        <div class="mt-1">
                            <input value="{{ film.year if updating else '' }}"
                                   type="number" name="year" id="year"
                                   class="shadow-sm focus:ring-teal-500 focus:border-teal-500 block w-full sm:text-sm border-gray-300 rounded-md">
                        </div>
                        {% for error in form.year.errors %}
                            <span class="mt-1 text-red-400">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div>
                        <label for="director_id" class="block text-sm font-medium text-gray-700">Regisseur</label>
                        <div class="mt-1">
                            <select id="director_id" name="director_id"
                                    class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-teal-500 focus:border-teal-500 sm:text-sm rounded-md">
                                <option value="">Selecteer...</option>
                                {% for director in directors %}
                                    <option value="{{ director.id }}" {{ 'selected' if (updating and director.id == film.director_id) }}>{{ director.full_name() }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% for error in form.director_id.errors %}
                            <span class="mt-1 text-red-400">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="flex justify-end space-x-2">
                <a href="{{ url_for('index_films') }}"
                   class="inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500">
                    Annuleren
                </a>
                <button type="submit"
                        class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500">
                    Opslaan
                </button>
            </div>
        </form>
    </div>
{% endblock %}